<%= javascript_include_tag 'handle_workers' %>
<%= render partial: "modal" %>

<h2> Skills </h2>
<% if_current_user_worker(current_user) do %>
   <h2><button type="button" id="myInput" class="btn purple-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button></h2>
<% end %>

<div class="worker-container", id="all-skills-of-worker">
      <% for worker_skill in @worker.worker_skills%>
           <%= render partial: "worker_skills/each_worker_skill",locals:{worker_skill: worker_skill}%>
      <% end %>
</div>
