<%= javascript_include_tag 'registration' %>

<div class="main">
    <div class="radio">
        <input type="radio" id="customer"  name="user" value="customer">
        <label for="html">Customer</label><br>
        <input type="radio" id="worker" name="user" value="worker">
        <label for="css">Worker</label><br>
    </div>

    <div class="container">
        
    <div class="form-container">
    <h2>Sign up</h2>

        
         <%= render partial:"worker_form"%>

          <%= render partial:"customer_form"%>

        
        <%= render "devise/shared/links" %>
        </div>
    </div>
</div>



