<div class="c">
      <h5 class="card-title">Admin</h5> 
      <p class="card-text"><%= admin.name %></p>
      <p class="card-text"><%= admin.email %></p>
      <%= button_to 'Edit', edit_admin_path(id: admin.id), method: :get, id: "editbtn", class: "purple-btn btn" %>
      </div>