<div class="c">
      <h5 class="card-title">Admin</h5> 
      <p class="card-text"><%= admin.name %></p>
      <p class="card-text"><%= admin.email %></p>
      <button type="button" id="editbtn" class="purple-btn btn" data-bs-toggle="modal" data-bs-target="#editmodal">Edit</button>
 </div>