<%= javascript_include_tag 'handel_admin' %>

<h1 class="heading">All Admins</h1>
<button type="button" id="myInput" class="btn add-admin-btn yellow-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Admin</button>

<!-- Modal for add admin -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Admin</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
        <div class="form-container">
            <%= form_for(@user, url: admins_path, method: :post) do |f| %>
                <%= render partial:"form", locals:{f: f ,data: 'Add'}%>      
            <% end %>
        </div>
        </div>
    </div>
    </div>
</div>


<div class="worker-container", id="all_admin">
      <% @admins.each do |current_admin| %>
          <%= render partial: "each_admin",locals:{admin:current_admin}%>
      <% end %>
</div>


