<div class="container">
  <div class="form-container">
        <%= form_for(@admin, url: admin_path(id: @admin.id), method: :put) do |f| %>
            <%= render partial:"form", locals:{f: f ,data: 'Update'}%>      
        <% end %>
  </div>
</div>