
<style>
   .container{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    min-width:1400px;
    justify-content: space-evenly;
}
.card {
    margin: 20px; 
}
</style>

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Admins</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%= link_to 'All Admins', admins_list_path %>
            </div>
    </div>


    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Worker</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'All workers', workers_path %>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Customers</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">View</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Skills</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">View</a>
    </div>
    </div>
    
</div>



