<%= javascript_include_tag "handle_skill" %>

<h1>All Skills</h1>
<% @skills.each do |skill| %>
  <div class="card skill">

      <h5 class="card-title">skill</h5> 
        <p class="card-text">Skill: <%= skill.skill_type %></p>
        <button  id="skillRemoveBtn" class="remove-worker-skill-btn btn btn-danger"data-skill = <%= skill.id %>> Remove</button>  
  </div>
<% end %>
