<section id="about-us">
  <h2>We are HireMe</h2>
  <p>A team of go-getters to give you a smooth experience</p>
  <p>Now backed by Shark Tank!</p>
</section>

<section id="services">
  <h2>Our Services</h2>
  <ul>
    <li>House Maid</li>
    <li>Cooking Maid</li>
    <li>Baby Caretaker</li>
    <li>All Rounders</li>
    <li>Cook in Bengaluru</li>
    <li>Maid Service in Bengaluru</li>
    <li>Housekeeping Cleaning in Bengaluru</li>
 
  </ul>
</section>
