<h1 class="worker-heading">All workers</h1>
<div class="worker-container">
  <% @available_workers.each do |worker| %>
    <div class="c">
      <%= render partial: "worker_details",locals: {worker: worker} %>
      <div class="button-row">
        <%= button_to 'View', worker_path(id: worker.id), method: :get, class: 'btn purple-btn ' %>
        <%= button_to 'Add service', cart_services_path(worker_id: worker.id, filter_params: @filter_params), class: 'btn purple-btn', method: :post, id: 'add-service-btn' %>
        <%= button_to 'Contact', workers_path, class: 'btn purple-btn' %>
      </div>
    </div>
  <% end %>
</div>



<style>
.worker-container {
  margin: 20px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.c {
  border-radius: 7px;
  padding: 20px;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}




</style>
