<div class="row">
  <% @workers.each do |worker| %>
    <div class="col-md-2">
      <div class="card mb-3">
        <div class="card-body">
         
        <%= render partial: "worker_details",locals: {worker: worker} %>

          <%= button_to 'View', worker_path(id: worker.id), method: :get, class: 'btn btn-primary' %>
          <%= button_to 'Remove', worker_path(id: worker.id), method: :delete, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
