<%= javascript_include_tag 'handel_workers' %>

<div class="table-container",id="table-container-id">
    <%= render partial: "workers_table", locals: { workers: @workers, pending: @pending } %>
</div>





