
.main {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 100vw;
  overflow-y: auto;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto; /* Center the container horizontally */
}

h2 {
  color: #333; 
  text-align: center;
}

.field {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 3px;
  box-sizing: border-box;
  height: 40px;
}

input[type="submit"] {
  background-color: #f3c623; 
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e0b20d; 
}

.actions {
  text-align: center;
}

nav{
  background-color: #e0b20d;
}


.navbar-brand{
  font-weight: 1000;
  margin-right:100px;

}
.nav-link{
  color:black;
  font-weight: 500;
}

.nav-item {
margin-right: 3px; 
}

.nav-link:last-child {
margin-right: 25px;
}
.login-btn {
width: 5vw;
text-align: center;
padding: 8px 16px;
background-color: white;
color: black;
border-radius: 4px;
}
.login-btn:hover {
  background-color: black;
  color: white; 
}
