body {
  padding-top: 70px;
}
.main {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 100vw;
  overflow-y: auto;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto; /* Center the container horizontally */
}

h2 {
  color: #333;
  text-align: center;
}

.field {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  height: 40px;
}

input[type="submit"] {
  background-color: #f3c623;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e0b20d;
}

.actions {
  text-align: center;
}

nav {
  background-color: white;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-bran {
  color: #aa0789;
  text-decoration: none;
  font-size: 35px;
  font-weight: 1000;
  margin-right: 100px;
}

#me {
  color: #f3c623;
}

.nav-link {
  color: #b248bd;
  font-weight: 500;
}

.nav-item {
  margin-right: 3px;
  font-size: 17px;
}

.nav-link:last-child {
  margin-right: 30px;
}
.log-btn {
  width: 6vw;
  text-align: center;
  padding: 8px 16px;
  background-color: #ad52b7;
  color: white;
  border-radius: 4px;
}

.log-btn:hover {
  background-color: white;
  color: #ad52b7;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.radio {
  height: 15px;
  width: 15px;
  display: block;
}
.flash-message {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 200px;
  padding: 10px;
  background-color: #242424;
  color: white;
  border: 1px solid white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: center;
  word-wrap: break-word;
}

.flash-message.alert-notice {
  background-color: #4caf50;
}

.flash-message.alert-alert {
  background-color: #f44336;
}

.container {
  margin-top: 20px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.heading {
  position: relative;
  left: 44vw;
}

.add-admin-btn {
  position: relative;
  left: 47vw;
  border: none;
}
.yellow-btn {
  background-color: #f3c623;
  border: 2px solid white;
  color: white;
}

.yellow-btn:hover {
  color: white;
  background-color: #e0b20d;
}

.purple-btn {
  color: white;
  background-color: #ad52b7;
  border: 2px solid white;
}

.purple-btn:hover {
  color: white;
  background-color: #9a26a7;
}
.button-row {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.worker-container {
  margin: 20px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.c {
  border-radius: 7px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.approve-btn,
.reject-btn {
  border: 1px solid black;
  background-color: #9e9999;
}
.green-btn {
  background-color: #4caf50;
}
#filter-by-wage-btn , #filter-by-rating-btn{
  width: 100px;
}

.remember-me-fields{
  display:flex;
  flex-direction: row;
}
.remember-me-checkbox{
  width: 15px;
  position: relative;
  bottom: 12px;
  margin: 5px;  
}