.cart {
  margin: 20px auto;
  padding: 10px;
  max-width: 80vw;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.cart-item p {
  margin: 10px;
}
