.card-img {
  width: 18vw;
  height: 18vw;
}
.card {
  border: none;
  margin: 5px;
}
.top-container {
  margin: 27px;
}
.home-heading {
  display: flex;
  justify-content: center;
  font-size: 55px;
  font-weight: 500;
  color: #ad52b7;
}

.home-sub-heading {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 350;
  color: black;
}
.service-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.book-btn {
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #ecc94a;
  width: 5vw;
  border: none;
  border-radius: 10px;
}

.book-btn:hover {
  background-color: white;
  color: #ad52b7;
}

.card-title {
  color: #882393;
}
.card-text {
  color: black;
}

.home-img {
  width: 100 vw;
}
.image-container {
  display: flex;
  justify-content: center;
}
.inside-img-first-text {
  color: white;
  font-size: 30px;
  font-weight: 480;
  position: absolute;
  top: 62%;
}
.inside-img-second-text {
  color: white;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  top: 68%;
}

.reviews {
  margin: 50px;
  background-color: #b790b6;
  height: 550px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.high_rated_worker_container {
  width: 40vw;
  background-color: rgb(237, 230, 230);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.high_rated_worker {
  padding: 10px;
  position: relative;
  left: 35%;
}
.previous,
.next {
  text-decoration: none;
  background-color: #882393;
  padding: 6px;
  border-radius: 5px;
}

.image-container {
  display: flex;
  height: 70vh;
  justify-content: center;
}

.worker-image-container {
  display: flex;
  height: 50vh;
  justify-content: center;
}

.form {
  position: absolute;
  top: 25%;
  width: 95%;
  left: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
}

.field {
  margin: 10px;
}

form .field label {
  background-color: #6e2381;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px;
}
.submit-btn {
  position: relative;
  top: 40px;
  left: 5px;
}
.home-img {
  width: 100vw;
  opacity: 0.9;
}
.time {
  width: 130px;
}
#timing_scroll {
  position: relative;
  bottom: 10px;
}
.service-dropdown {
  height: 200px;
}

.bottom-text {
  display: flex;
  justify-content: center;
  font-size: 55px;
  font-weight: 500;
  color: #ad52b7;
}

.about-us-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.contact-us-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-us-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-us-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-us-container input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.contact-us-container input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.contact-us-container input[type="submit"]:hover {
  background-color: #555;
}
.card-img {
  width: 18vw;
  height: 18vw;
}
.card {
  border: none;
  margin: 5px;
}
.top-container {
  margin: 27px;
}
.home-heading {
  display: flex;
  justify-content: center;
  font-size: 55px;
  font-weight: 500;
  color: #ad52b7;
}

.home-sub-heading {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 350;
  color: black;
}
.service-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.book-btn {
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #ecc94a;
  width: 5vw;
  border: none;
  border-radius: 10px;
}

.book-btn:hover {
  background-color: white;
  color: #ad52b7;
}

.card-title {
  color: #882393;
}
.card-text {
  color: black;
}

.home-img {
  width: 100 vw;
}
.image-container {
  display: flex;
  justify-content: center;
}
.inside-img-first-text {
  color: white;
  font-size: 30px;
  font-weight: 480;
  position: absolute;
  top: 62%;
}
.inside-img-second-text {
  color: white;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  top: 68%;
}

.reviews {
  margin: 50px;
  background-color: #d0bfcf;
  height: 550px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.high_rated_worker_container {
  width: 40vw;
  background-color: rgb(237, 230, 236);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.high_rated_worker {
  padding: 10px;
  position: relative;
  left: 35%;
}
.previous,
.next {
  text-decoration: none;
  background-color: #882393;
  padding: 6px;
  border-radius: 5px;
}

.image-container {
  display: flex;
  height: 70vh;
  justify-content: center;
}

.worker-image-container {
  display: flex;
  height: 50vh;
  justify-content: center;
}

.form {
  position: absolute;
  top: 25%;
  width: 95%;
  left: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
}

.field {
  margin: 10px;
}

form .field label {
  background-color: #6e2381;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px;
}
.submit-btn {
  position: relative;
  top: 40px;
  left: 5px;
}
.home-img {
  width: 100vw;
  opacity: 0.9;
}
.time {
  width: 130px;
}
#timing_scroll {
  position: relative;
  bottom: 10px;
}
.service-dropdown {
  height: 200px;
}

.bottom-text {
  display: flex;
  justify-content: center;
  font-size: 55px;
  font-weight: 500;
  color: #ad52b7;
}

.about-us-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.contact-us-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-us-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-us-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-us-container input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.contact-us-container input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.contact-us-container input[type="submit"]:hover {
  background-color: #555;
}
