<!DOCTYPE html>
<html>
<head>
  <title>Booking Confirmation</title>
</head>
<body>
  <p>Hi <%= @worker.user.name %>,</p>
  <p>Your service has been booked. Here are the details:</p>
  <ul>
    <li><strong>From Date:</strong> <%= @from_date %></li>
    <li><strong>To Date:</strong> <%= @to_date %></li>
    <li><strong>Skill Type:</strong> <%= @skill_type %></li>
  </ul>
  <p>Thank you.</p>
</body>
</html>
